body {
  background: #eee;
  margin: 50px auto;
  width: 300px;
}
h1,
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  text-transform: lowercase;
}
h1 {
  font-size: 15px;
}
textarea {
  height: 200px;
  margin-top: 5px;
  max-height: 350px;
  resize: vertical;
  width: 294px;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
  margin-top: 0;
}